<!DOCTYPE html>
<html>

<head>
  <title>Weather App | About</title>
  <link rel="icon" href="/assets/weather.png">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>This Weather Application was created by Preet Shah & Utkarsh Tiwari from Blahaj Gang. It uses data from mapbox.com and weatherstack.com!</p>

  </div>
  {{>footer}}
</body>

</html>