<!DOCTYPE html>
<html>

<head>
  <title>Weather App | Help</title>
  <link rel="icon" href="/assets/weather.png">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>{{message}}</p>
  </div>
  {{>footer}}
</body>

</html>