body {
  /* background-image: url("https://uploads-ssl.webflow.com/60a679e14d650f78433d8a27/60d3af237fd0c9f8cd21e390_wallpaper-3_4-3.png");
 */

  background: linear-gradient(rgba(27, 27, 27, 0.5), rgba(15, 14, 14, 0.5)),
    url("https://uploads-ssl.webflow.com/60a679e14d650f78433d8a27/60d3af237fd0c9f8cd21e390_wallpaper-3_4-3.png");
  background-repeat: no-repeat;
  background-size: cover;

  color: #f1ffff;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

footer {
  color: #888888;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 16px 0;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

h1 {
  font-size: 64px;
  margin-bottom: 16px;
}

header a {
  color: #888888;
  margin-right: 16px;
  text-decoration: none;
}
.portrait {
  width: 250px;
}

input {
  border: 2px solid #3056ff;
  padding: 8px;
  border-width: 1px;
  border-radius: 0.375rem /* 6px */;
  padding-top: 0.75rem /* 12px */;
  padding-bottom: 0.75rem /* 12px */;
}
input:hover {
  border: 1px solid #ff951b;
}

button {
  cursor: pointer;
  border: 2px solid #037091;
  background-color: #037091;
  border-radius: 0.375rem /* 6px */;
  color: white;
  padding: 8px;
}

button:hover {
  background-color: #ffb056;
  border: 1px solid #ff951b;
}
